body{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    height: 100vh;
    background-repeat: no-repeat;
}
#formcs{
    position: absolute;
    top: 20%;
    left: 30%;
    background: #b082ec;
    width: 40%;
}
#headf{
    background: #774ee7;
    width: 100%;
    font-size: 35px;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}
form{
    padding:20px 40px;
}
form label{
    margin-left: 10px;
}
form button{
    background-color: #4ea171 !important;
    padding: 5px;
    color: white !important;
}
.form-check-label{
    color: #ffffff;
}
